on:
  release:
    types: [created]

jobs:
  release:
    permissions: write-all
    strategy:
      matrix:
        include:
          - target: aarch64
          - target: riscv64
          - target: i686
          - target: armv7a
          - target: armv7a-hf

    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4

      - uses: cachix/install-nix-action@v23
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Compile for ${{ matrix.target }}
        run: ./build.sh ${{ matrix.target }}

      - uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: result/bin/lipl
          asset_name: lipl-${{ matrix.target }}
          tag: ${{ github.ref }}
